body {
  font-family: 'Montserrat', sans-serif;
    /*
    light = 300
    regular = 400
    medium = 500
    semi-bold = 600
    */
  color: $mainGray;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
