$mainBlue: #2f346c;

.box {

  width: 300px;
  display: block;

  a {
    margin: 10px;
    columns: 300px 2;
    column-gap: 20px;
    break-inside: avoid;
    color: $mainBlue;
  }

  &-small {
    height: 450px;
  }

}
