.footer {

  position: relative;
  height: 750px;

  @mixin atSmall {
    height: 900px;
  }

  @mixin atMedium {
    height: 550px;
  }

  &__background {
    background-image: linear-gradient(to bottom, $logoBGin, #2a2a30);
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $creamyWhite;
    text-shadow: 1px 1px 3px rgba($mainGray, 1)
  }

  &__map {

    padding-left: 40px; /* h3's text indent */

    position: absolute;
    top: 30px;
    left: 50%;
    transform-origin: top;
    transform: translateX(-49%) scale(0.75);

    h3 {
      margin-top: 2.275rem;
    }

    @mixin atSmall {
      top: 40px;
      transform: translateX(-40%) scale(1);
    }

    @mixin atMedium {
      position: static;
      transform: none;
      float: left;
      margin-top: 40px;
      margin-left: 40px;

      border-top: 1px solid transparent; /* to prevent margin collapsing */
    }
  }

  &__open {

    text-align: center;
    padding-top: 230px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top;
    transform: translate(-50%, -18%) scale(0.92);

    @mixin atSmall {
      transform: translate(-50%, -12%) scale(1);
    }

    @mixin atMedium {
      position: static;
      transform: none;
      float: right;
      margin-top: 27px;
      margin-right: 40px;
    }
  }

  &__author {
    /*border: 1px dashed salmon;*/
    color: $creamyWhite;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;

    strong {
      font-style: italic;
    }

    span {

      vertical-align: bottom;
      position: relative;
      top: 4px;
      margin-left: 8px;

    }

    @mixin atSmall {
      font-size: 1.2rem;

    }

    @mixin atMedium {
      position: static;
      float: left;
      width: auto;
      margin-left: 45px;
      padding-top: 60px;
    }
  }

  &__horRule {
    margin-top: 30px;
    border-top: 2px solid $mainGray;
    border-bottom: 1px solid #606060;

    @mixin atSmall {
      margin-top: 40px;
    }

    @mixin atMedium {
      margin-top: 0;
    }
  }

  &__copyright {
    /*border: 1px solid red;*/
    text-align: center;
    color: $creamyWhite;
    font-size: .8rem;
    font-weight: 300;
    padding: 25px 15px;
    letter-spacing: 0.5px;

    @mixin atSmall {
      text-align: left;
    }
  }

  &__copyright__right {
    margin-top: 20px;

    strong {
      font-weight: 500;
    }

    @mixin atSmall {
      float: right;
      margin-top: 0;
    }
  }

}
