.menu-bar {
  position: absolute;
  z-index: 2;
  width: 100%;

  @mixin atMedium {
    background-color: rgba(#000,.6);
  }


  &__logo {
    position: absolute;
    top: -1px; /* render enhancement */
    left: 50%;
    transform: translateX(-50%) scale(.81);
    transform-origin: 50% 0;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
      
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;

    @mixin atMedium {
      display: none;
    }
  }

  &__nav-container {
    display: none;

    @mixin atMedium {
      display: block;
      float: right;
    }

  }
}
