.primary-nav {


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    @mixin atSmall {
      display: inline-block;
    }

    @mixin atMedium {
      display: block;
    }
  }

  li {
    display: inline-block;
    padding-left: 2px;
    transition: transform 0.3s ease-out;

    @mixin atSmall {
      display: block;
      margin: 20px 40px;
      transform: translateX(-150%);
    }

    @mixin atMedium {
      padding-left: 1.5rem;
      display: inline-block;
      margin: 0;
      transform: translateX(0);
    }

  }

  li:first-child {
    padding-left: 0;
  }

  li.in-view {
    @mixin atSmall {
      transform: translateX(0);
    }
  }

  a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    color: $creamyWhite;
    display: block; /* for padding to work */
    padding: 5px 8px;
    background-color: rgba($logoBGout, 1);
    border-radius: 15px/50%;

    @mixin atMedium {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      font-weight: 300;
      color: $creamyWhite;
      display: block; /* for padding to work */
      padding: 1.6rem 0 1.8rem;
      background-color: transparent;
    }


  }
}
