.row {

  @mixin clearfix;

  @mixin atSmall {

    &__left {
      border: 1px solid transparent;
      float: left;
      width: 45%;
    }

    &__right {
      float: right;
      width: 50%;
    }
  }
}
