.slide {
  position: relative;

  &--rozek {
    background:
      radial-gradient(
        circle closest-side at 50% 48%,
        rgba(#fff,1),
        rgba(#fff,0) 115%
      ),
      radial-gradient(
        farthest-corner,
        #fdf7e7 20%,
        #6fcee2
      );
  }

  &--kubek {
    background:
      radial-gradient(
        circle closest-side at 50% 60%,
        rgba(#fff,1),
        rgba(#fff,0) 150%
      ),
      #f6db80;
  }

  &__markup-heading {
    display: none;
  }

  &__label-text {
    width: 180px;
    margin: 15px auto 5px;

    @mixin atSmall {
      width: 160px;
    }
  }

  &__label-underline {
    width: 250px;
    margin: 0 auto;

    @mixin atSmall {
      width: 220px;
    }
  }

  &__description {
    border: 1px solid transparent;
    width: 100%;
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;

    @mixin atSmall {
      margin-top: 10px;
      font-size: 1rem;
    }
  }

  &__image {
    @mixin atSmall {
      margin-top: 30px;
    }
  }

  &__volume {
    font-size: 1.35rem;
    font-weight: 500;
    text-align: center;
    margin: 20px auto;
    border: 1px solid transparent;

    @mixin atSmall {
      font-size: 1.125rem;
      margin: 0 auto;
    }
  }

  &__flavors-list {
    text-align: center;
    margin-bottom: 70px;
    border: 1px solid transparent;

    @mixin atSmall {
      margin-top: 15px;
    }

    ul {
      display: inline-block;
      margin: 0 auto;
      padding-left: 0;
      list-style-position: outside;
    }

    li {
      text-align: left;
      font-size: 1.1rem;
      font-weight: 400;
      font-style: italic;
      padding-bottom: 8px;
      border: 1px dashed transparent;

      @mixin atSmall {
        font-size: 1rem;
        padding-bottom: 5px;
      }
    }
  }

  &__flavors-summary {

  }

}
